body {
    overflow-x: hidden
}

.onespotCard {
    width: 540px;
    margin-right: 7px;
}

.onespotcarddiv {
    text-align: left;
    width: 1100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.onespotCard>h3 {
    margin-top: 0px;
}

.onespotCard>h4 {
    margin-top: 0px;
    color: #222222;
}

.onespotCard>img {
    width: 540px;
    height: 480px;
    margin: 0 auto;
    border-radius: 6% 0% 0% 6%;
}

.oneSpotReviewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #dd1261;
    color: white;
    margin-top: 0px;
}

.topRowDivOneSpot {
    width: 540px;
    display: inline-block;
}

.topRowDivOneSpot>h3 {
    display: inline;
}

.avgStarRatingSpot {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.oneSpotExtraPics {
    width: 540px;
    height: 485px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    bottom: 2px;
}

.extraSpotPics {
    width: 49%;
    height: 49%;
    margin: 2px;
}

.deleteRevBtn {
    width: 80px;
    height: 35px;
    border-radius: 10%;
    color: white;
    background-color: #dd1261;
    margin-bottom: 4px;
}

.descLabel {
    margin-right: 10%;
}

#roundExtraPics {
    border-radius: 0% 10% 0% 0%;
}

#roundExtraPics1 {
    border-radius: 0% 0% 10% 0%;
}

.spotDescription {
    width: 500px;
    margin: 0;
    word-break: break-word;
    margin-bottom: 7px;
}

.detailsDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: space-between;
    width: 1100px;
    margin-top: 3%;
}

.amenityBigDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.amenities {
    display: flex;
    margin: 5px;
    width: 40%;
}

.amenities>p {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.amenities>i {
    display: flex;
    align-items: center;
}

.detailsOneSpot {
    border-bottom: 2px solid #dd1261;
    margin-left: 8px;
    display: flex;
    align-self: center;
    margin: 0;
}

.modalsDiv {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-right: 7px;
}

.h3ModalsDiv {
    border-bottom: 3px solid #dd1261;
}
.newDivForMargin{
    color: white;
}
.oneSpotDesc{
    width: 500px;
    margin: 0;
    word-break: break-word;
    margin-bottom: 7px;
}

  /* BOOKING COMPONENT  */
.bookingComp {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-radius: 15px;
    margin: 0 auto;
}

#stayH1 {
    text-align: center;
}

.bookingForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bookingLabel {
    text-align: center;
    margin-left: 3%;
    margin-top: 2%;
}
.bookingDate {
    margin-left: .5%;
    margin-bottom: 3%;
}
#bookingBtn {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    background-color: rgb(221,18,97);
    height: 35px;
    border-radius: 10px;
    color: white;
}
.nightsPrice {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
}
.totalPrice {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
}
.cleaningPrice {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
}
.whitespace{
    height: 5%;
}