.onespotCard {
    width: 480px;
    margin: 0 auto;
}

.onespotcarddiv {
    text-align: left;
}

.onespotCard>h3 {
    margin-top: 0px;
}
.onespotCard>h4 {
    margin-top: 0px;
    color: #222222;
}

.onespotCard>img {
    width: 540px;
    height: 480px;
    margin: 0 auto;
}
.spotsImg {
    margin: 0 auto;
}
.oneSpotReviewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: #dd1261;
    color: white;
}

.oneSpotReviewBtn:hover {
    transform: scale(1.2);
}