.reviewsDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vh;
    height: 80vh;
    max-width: 800px;
    overflow-y: auto;
}

.reviewCard {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 240px;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.leftReviewModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.leftReviewModal>h2,
h1 {
    margin: 0;
}

.leftReviewModal>h2 {
    margin-bottom: 10px;
}

/* .reviewsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.revDate {
    color: gray;
    margin: 5px;
}

.revRating {
    margin: 5px;
}

.revNames {
    margin: 5px;
}

.h2ForSpot {
    font-size: 28px;
}

.reviewCard>p {
    margin-left: 1%;
    word-break: break-word;
    /* cursor: pointer; */
}