.reviewsDiv {
    height: 800px;
    max-width: 800px;
    /* overflow-x: hidden; */
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 5%; */
    min-width: 0px;
}

.reviewCard {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 50%;
    height: 240px;
    margin-left: 10px;
    min-width: 0px;
}

.leftReviewModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.leftReviewModal>h2,
h1 {
    margin: 0;
}

.leftReviewModal>h2 {
    margin-bottom: 10px;
}

.reviewsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.revDate {
    color: gray;
    margin: 5px;
}

.revRating {
    margin: 5px;
}

.revNames {
    margin: 5px;
}

.h2ForSpot {
    font-size: 28px;
}

.reviewCard>p {
    margin-left: 1%;
    /* cursor: pointer; */
}