.editForm {
    /* margin-top: 15px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    width: 400px;
}

.editForm>label {
    min-width: 250px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: right;
}

.editForm>label>input {
    margin-left: 6px;
    width: 250px;
}

.editForm>button {
    margin-left: 1%;
    height: 40px;
    width: 280px;
    background-color: #dd1261;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.editForm>label>textarea {
    margin-left: 6px;
    height: 62px;
    resize: none;
    overflow-y: scroll;
    vertical-align: top;
    width: 252px;
}
.editSpotBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #dd1261;
    color: white;
    margin-top: 0px;
}
