.deleteSpotButton {
    margin-top: 20px;
    margin-right: 6%;
    display: flex;
    justify-content: center;
}

.deleteAspotBtn {
    height: 40px;
    width: 90px;
    background-color: #dd1261;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.deleteAspotBtn:hover {
    transform: scale(1.2);
}