.allSpots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.spotsImg {
   width: 90px;
   height: 110px;
   object-fit: cover;
}
.spotCard {
    width: 100px;
    height: 100px;
}