* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.allSpots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.spotCard {
    width: 50%;
    margin: 0 auto;
}
.spotsImg {
   width: 255px;
   height: 255px;
   border-radius: 6%;
}
.linkClass {
    margin-top: 15px;
    width: 25%;
    color: black;
    height: 400px;
}
.allSpotsH3{
    margin: 0;
    margin-top: 4%;
    padding: 0;
    width: 70%;
    display: inline;
}
.topRowDivski {
    width: 255px;
    display: inline-block;
}
.avgRatingAllSpots{
    margin: 0;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    float: right;
    display: inline;
}
