.loginForm {
    width: 400px;
    height: 300px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

/* .loginForm>label {
    min-width: 350px;
    text-align: right;
    margin-right: 10.5%;
    margin-bottom: 10px;
} */

.loginForm>label>input {
    margin-left: 8px;
    margin-bottom: 10px;
    width: 330px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: 7px;
    height: 40px;
    width:330px;
    background-color: #dd1261;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 10px;
}

.loginBtn:hover {
    transform: scale(1.2);
}

.loginnavbtn {
    margin-left: 7px;
    height: 40px;
    width: 90px;
    background-color: #dd1261;
    color: white;
    border-radius: 10px;
}

.loginnavbtn:hover {
    transform: scale(1.2);
}

.demoUser {
    margin-left: 7px;
    height: 40px;
    width: 330px;
    background-color: #dd1261;
    color: white;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 5px;
}

.demoUser:hover {
    transform: scale(1.2);
}
.loginInput {
    margin-right: 18%;
}